<title>About Corneliu Stanescu</title>
<body>
    <div class="about-section">
      <br>
        <br>
        <br>
        <h1>About Me</h1>
        <p>Want to know more about me?</p>
    </div>
    <div id="about-me">
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://github.com/cstanescu123/cstanescu123.github.io/blob/main/CornPic.JPG?raw=true" alt="Corn" style="width:100%">
            <div class="container">
              <h2>Corneliu Stanescu</h2>
              <p class="title">CEO of Awesomeness</p>
              <p>Born and raised in Michigan, Corneliu has traveled across the United States looking for action, adventure, and in some cases, danger. What will the future hold for him?
              </p>
              <p>Email: corneliusemail@gmail.com</p>
              <p>Phone: 586-872-7814</p>
              <p><a href="https://www.linkedin.com/in/corneliu-stanescu-a0b724233/">LinkedIn Profile</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
